Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
# Add name of s3 bucket where you have stored your private key below, e.g. eb-pvtkey-us-east-1-123456789012
          buckets: ["S3_BUCKET_WITH_PRIVATE_KEY"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Private key
  /etc/pki/tls/private/cf-private-key.pem:
    mode: "000400"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
# Specify the URL of the private key file in your s3 bucket, e.g https://s3.amazonaws.com/eb-pvtkey-us-east-1-123456789012/pk-APKAJ63NC4PRMDSDDWOI.pem
    source: URL_OF_PRIVATE_KEY_IN_S3_BUCKET
